streamlit
openai
langchain
langchain_community
langchain_google_community
langchain_core
langchain_openai
langchain_chroma
langchain_text_splitters
langchain_ollama
ollama
langchainhub
chromadb
openai
pydub
pypdf
python_dotenv
bs4 
html2text 
pypdf 
pymupdf 
semanticscholar 
duckduckgo_search 
arxiv 
scidownl 
pyzotero 
gpt_researcher 
nest_asyncio 
fpdf 
markdown2 
pandas 
openpyxl 
weasyprint 
python_docx 
unstructured
PyPDF2